@page
@model DevRelCRM.WebAuth.Pages.RegistrationModel
@{
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>

    <div class="container mt-5">
        <h2 class="mb-4">Регистрация</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Input.Name" class="col-form-label">Имя:</label>
                <input asp-for="Input.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Surname" class="col-form-label">Фамилия:</label>
                <input asp-for="Input.Surname" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Patronym" class="col-form-label">Отчество:</label>
                <input asp-for="Input.Patronym" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.NickName" class="col-form-label">Никнейм:</label>
                <input asp-for="Input.NickName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email" class="col-form-label">Email:</label>
                <input asp-for="Input.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="col-form-label">Пароль:</label>
                <input asp-for="Input.Password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Role" class="col-form-label">Роль:</label>
                <input asp-for="Input.Role" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="col-form-label">Подтверждение пароля:</label>
                <input asp-for="Input.Password" type="password" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>

        <div class="mt-3">
            <a asp-page="./Login">Уже есть аккаунт? Войти</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
