@page
@model DevRelCRM.WebAuth.Pages.RegistrationModel
@{
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация</title>
    @* Добавить иконку сайта собственную *@
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/7021/7021246.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="~/js/PasswordStrength.js" defer></script>
</head>

<body class="bg-light">

    <div class="container mt-4">
        <div class="row justify-content-md-center">
            <div class="text-center my-4">
                @* Добавить собственное название DevRelCRM *@
                <img src="https://static.tildacdn.com/tild3066-6132-4163-a631-316132323362/DevRel.svg" alt="logo"
                    width="200">
            </div>
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4 text-center">Регистрация</h1>
                        <form method="post" class="needs-validation" novalidate="" autocomplete="off">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label asp-for="Input.Surname" class="col-form-label">Фамилия:</label>
                                    <input asp-for="Input.Surname" class="form-control" required autofocus />
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="Input.Name" class="col-form-label">Имя:</label>
                                    <input asp-for="Input.Name" class="form-control" required autofocus />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Patronym" class="col-form-label">Отчество:</label>
                                <input asp-for="Input.Patronym" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Gender" class="col-form-label">Пол:</label>
                                <select asp-for="Input.Role" class="form-control">
                                    <option value="Male">Мужской</option>
                                    <option value="Female">Женский</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.NickName" class="col-form-label">Никнейм:</label>
                                <input asp-for="Input.NickName" class="form-control" required autofocus />
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Email" class="col-form-label">Email:</label>
                                <input asp-for="Input.Email" class="form-control" required autofocus />
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Role" class="col-form-label">Роль:</label>
                                <select asp-for="Input.Role" class="form-control">
                                    <option value="DevRel">DevRel-специалист</option>
                                    <option value="Programmer">Программист</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password" class="col-form-label">Пароль:</label>
                                <input asp-for="Input.Password" id="password" type="password" class="form-control" required
                                    autofocus />
                                <div class="mt-2" id="password-strength-info"></div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword" class="col-form-label">Подтверждение
                                    пароля:</label>
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" required
                                    autofocus />
                            </div>
                            <button type="submit"
                                class="btn btn-outline-dark mt-3 float-end">Зарегистрироваться</button>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Уже есть аккаунт? <a asp-page="./Login" class="text-black">Войти</a>
                        </div>
                    </div>
                </div>
                <footer class="text-center mt-5">
                    <p>Copyright © 2023</p>
                </footer>

                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
