@import url('https://fonts.googleapis.com/css2?family=Comfortaa::wght@300;400;500;600;700&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
  }